# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/node_modules/
/.idea/
/package.json/
/output.json/
/package-lock.json/
/dataSources.local.xml
app/application.js
package-lock.json
app/application.js
package.json
